
# Created by https://www.gitignore.io/api/objective-c

### Objective-C ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build
.DS_Store
EllipticCurveKeyPair.framework/Info.plist
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/Project/x86_64.swiftsourceinfo
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/x86_64.swiftdoc
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/x86_64.swiftmodule
EllipticCurveKeyPair.framework/Modules/module.modulemap
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/Project/arm64.swiftsourceinfo
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/arm64.swiftmodule
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/arm64.swiftdoc
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/arm64-apple-ios.swiftmodule
EllipticCurveKeyPair.framework/Modules/EllipticCurveKeyPair.swiftmodule/arm64-apple-ios.swiftdoc
EllipticCurveKeyPair.framework/Headers/EllipticCurveKeyPair-Swift.h
EllipticCurveKeyPair.framework/EllipticCurveKeyPair
